
a{
  color: #fff;
}

nav a{
  text-decoration: none;
}

h3{
  text-align: center;
  font-size: 30px;
  margin: 60px 0 40px;
}

li{
  list-style: none;
}

p{
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 14px;
  margin-bottom: 7px;
}

body{
  font-family: letter-gothic-std, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', monospace, Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  width: 300vw;
  color: #eee;
  background-color: #08353d;
}

@media screen and (max-width:480px){
  body{
    line-height: 2;
  }
}


header{
  width: 100vw;
  height: 90px;
  background-color: #041d21;
  position: fixed;
  z-index: 999;
  opacity: .8;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

nav{
  width: 100%;
  height: 100%;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}






.header-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 25px;
}

@media screen and (max-width:480px){
  .header-ul{
    width: 85%;
    margin: 10px auto;
    padding: 0;
  }
}

.header-ul li{
  font-size: 25px;
}

@media screen and (max-width:480px){
  .header-ul li{
    font-size: 20px;
  }
}

.header-ul a{
  color: #fff;
  text-decoration: none;
}

.li-active{
  border-bottom: solid 2px #fff;
  padding-top: 2px;
}





main{
  width: 300vw;
  height: 98vh;
}

.section{
  position: relative;
  margin:0px;
  bottom:0px;
  width:100vw;
  float:left;
  margin-top: 90px;
}

.section-container{
  position: relative;
  margin: 0 auto;
}







.p-container{
  width: 600px;
  padding: 100px 0;
}

@media screen and (max-width:480px){
  .p-container{
    width: 100vw;
  }
}

.title{
  font-size: 5rem;
  padding-top: 100px;
  text-align: center;
}

@media screen and (max-width:480px){
  .title{
    font-size: 2.5rem;
    padding-top: 90px;
    width: 100vw;
  }
}

.subtitle{
  font-size: 2.6rem;
  margin: 30px 0;
  text-align: center;
}

@media screen and (max-width:480px){
  .subtitle{
    width: 100vw;
    font-size: 1.5rem;
  }
}



.profile{
  background: linear-gradient(-45deg, rgba(0, 209, 255, 0.8), rgba(252, 71, 108,.8)),
  url('../images/will.jpg');
  background-size: cover;
}

@media screen and (max-width:480px){
  .p-box{
    width: 80%;
    margin: 0 auto;
  }
}

.p-box1{
  margin-top: 100px;
}

.p-margin{
  padding-top: 20px;
}





.circle-box{
  width: 1000px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (max-width: 768px){
  .circle-box{
    width: 70vw;
  }
}

@media screen and (max-width: 480px){
  .circle-box{
    width: 90vw;
    margin: 30px auto;
  }
}

.circle {
  position: relative;
  margin: 20px;
  width: 20%;
  height: 20%;
}

@media screen and (max-width: 768px){
  .circle{
    width: 30%;
    height: 30%;
  }
}


.circle p{
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.s-container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.s-content{
  text-align: center;
  width: 45%;
  height: 240px;
}

@media screen and (max-width:480px){
  .s-content{
    width: 100%;
    margin: 20px 0;
  }
}

.s-content li{
  margin-bottom: 15px;
}







.w-container{
  width: 70%;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px){
  .w-container{
    width: 80%;
  }
}


.w-content{
  color: #fff;
  text-decoration: none;
  width: 45%;
  height: 430px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.3s;
}

@media screen and (max-width: 768px){
  .w-content{
    height: 350px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

@media screen and (max-width:480px){
  .w-content{
    width: 100%;
    height: 400px;
  }
}


.w-content img{
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover; /* この一行を追加するだけ！ */
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
  border-radius: 2px;
}

@media screen and (max-width: 768px){
  .w-content img{
    height: 200px;
  }
}

.w-content:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.w-tag{
  display: inline-block;
  margin: 5px 0;
  padding: 7px 5px;
  border-radius: 5px;
}

.tag-app{
  background: linear-gradient(-45deg, rgba(0, 209, 255, 0.8), rgba(252, 71, 108,.8));
}

.tag-site{
  background: linear-gradient(-45deg, rgba(48, 232, 191,.8), rgba(255, 130, 54, .8));
}

.tag-unity{
  background: linear-gradient(-45deg, rgba(223, 232, 48, 0.8), rgba(136, 54, 255, 0.8));
}

.w-title{
  padding: 5px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 20px;
}

@media screen and (max-width:480px){
  .w-title{
    font-size: 14px;
  }
}


.sns-box{
  width: 60%;
  margin: 80px auto 0;
}

.sns-box ul{
  display: flex;
  justify-content: space-between;
}

.fab{
  font-size: 5rem;
}

@media screen and (max-width:480px){
  .fab{
    font-size: 3rem;
  }

}
