body{
  width: 98.8vw;
}


.close-button{
  position: fixed;
  top: 20px;
  left: 40px;
  font-size: 50px;
  font-weight: bold;
  z-index: 999;
  text-decoration: none;
}

.thumbnail-box{
  position: relative;
  width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.thumbnail-img{
  width: 100%;
  height: 80vh;
  object-fit: cover; /* この一行を追加するだけ！ */
}

.title-box{
  position: absolute;
  height: 20vh;
  background: linear-gradient(90deg, rgba(255,255,255, 0.8), rgba(255,255,255, 0));
  bottom: 3px;
  color: #041d21;
  padding-left: 150px;
}

.works-title{
  width: 80vw;
  font-size: 60px;
  margin: 25px 0 20px;
  color: #041d21;
  font-weight: bold;
}

.title-box p{
  margin: 10px 0;
}

.blue-band{
  background: linear-gradient(90deg, rgb(8, 53, 61,.8), rgba(255,255,255, 0));
  color: #fff;
}

.blue-band .works-title{
  color: #fff;
}


.works-container{
  max-width: 900px;
  margin: 0 auto;
}


.works-detail{
  margin: 80px 0;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.works-detail:nth-child(odd){
  flex-direction: row-reverse;
}


.works-detail h2{
  font-size: 22px;
  margin: 20px 0;
}

.works-detail-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 65%;
  height: auto;
  margin-bottom: 15px;
}

.works-detail-text p{
  margin: 5px 0;
}

.works-detail img{
  min-width: 30%;
  margin: 0 20px;
  height: auto;
  max-height: 250px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
  border-radius: 2px;
}
